[submodule "frontend"]
	path = frontend
	url = git@github.com:Tujz2023/THU_SoftwareEngineering_Frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:Tujz2023/THU_SoftwareEngineering_Backend.git
